<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mothership OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
        socket.on('update_state', function(state) {
            if(typeof updateInterface === "function") {
                updateInterface(state);
            }
        });
    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
